seaborn>=0.13.0
scipy>=1.13.0
scikit-learn>=1.4.0  # Updated for Py3.12
pillow>=9.3.0
tqdm>=4.64.1
werkzeug>=2.2.2
numpy>=1.26.0  # Critical for Py3.12
matplotlib>=3.8.0
ipywidgets>=7.6.3
plotly>=5.6.0
ipython>=8.0.0
joblib>=1.1.1
pandas>=2.0.0
# SCIKIT-LEARN
threadpoolctl>=3.1.0
cython>=3.0.10
meson-python>=0.17.1
scikit-image>=0.19.0
memory_profiler>=0.57.0
pytest>=7.1.2
pytest-cov>=2.9.0
ruff>=0.11.7
mypy>=1.15
pyamg>=04.2.1
polars>=0.20.30
pyarrow>=12.0.0
sphinx>=7.3.7
sphinx-copybutton>=0.5.2
sphinx-gallery>=0.17.1
numpydoc>=1.2.0
pooch>=1.6.0
sphinx-prompt>=1.4.0
sphinxext-opengraph>=0.9.1
sphinxcontrib-sass>=0.3.4
sphinx-remove-toctrees>=1.0.0.post1
sphinx-design>=0.6.0
pydata-sphinx-theme>=0.15.3
towncrier>=24.8.0
conda-lock>=3.0.1


