seaborn>=0.13.0
scipy>=1.13.0
scikit-learn>=1.4.0  # Updated for Py3.12
pillow>=9.3.0
tqdm>=4.64.1
werkzeug>=2.2.2
numpy>=1.26.0  # Critical for Py3.12
matplotlib>=3.8.0
ipywidgets>=7.6.3
plotly>=5.6.0
ipython>=8.0.0
joblib>=1.1.1
pandas>=2.0.0